name: jirvis

model:
  name: resnet
  arch:
    _target_: jirvis.train.models.resnet50.ResNetFeatureExtractor
    num_labels: 25                                    # overwritten by system.data.label_indices
    model_name: R50                                   # R18, R34, R50, R101, R152
    model_type: 4_layer                               # standard, residual, squeeze, 4_layer
    channels: 3
    pretrained: true                                  # true for ImageNet

data:
  label_indices: [0, 1, 4, 5, 6, 7, 9, 10, 11, 12]    # Which label indices to train on


train:
  optimizer:
    _target_: torch.optim.AdamW
    lr: 7.5e-5
    weight_decay: 1e-2

  loss_func:
    _target_: torch.nn.BCEWithLogitsLoss

  lr_scheduler:


  trainer:
    _target_: pytorch_lightning.Trainer
    _convert_: all
    max_epochs: 50 
    check_val_every_n_epoch: 2
    precision: 16-mixed

    devices:
      - ${device.id} 
    # accumulate_grad_batches: 4

    # accelerator: gpu   
    # devices: [0, 1]
    # strategy: ddp

    enable_model_summary: false

    callbacks:
    - _target_: pytorch_lightning.callbacks.ModelCheckpoint
      monitor: 'val_macro_f1'
      mode: 'max'
      save_top_k: 1
      save_last: false
      filename: '${system.model.arch.model_name}-${system.model.arch.model_type}-pretrained_${system.model.arch.pretrained}-${system.model.arch.num_labels}labels-epoch{epoch:02d}-f1{val_macro_f1:.4f}'
      verbose: true

    - _target_: pytorch_lightning.callbacks.ModelCheckpoint
      monitor: 'val_loss'
      mode: 'min'
      save_top_k: 1
      save_last: true
      filename: '${system.model.arch.model_name}-${system.model.arch.model_type}-pretrained_${system.model.arch.pretrained}-${system.model.arch.num_labels}labels-epoch{epoch:02d}-loss{val_loss:.4f}'
      verbose: true
      
    - _target_: pytorch_lightning.callbacks.TQDMProgressBar
      leave: false
      refresh_rate: 1

    logger:
      _target_: pytorch_lightning.loggers.TensorBoardLogger
      save_dir: ${output_dir}/${system.model.name}
      name: '${system.model.arch.model_name}'
      version: '${system.model.arch.model_type}_pretrained_${system.model.arch.pretrained}'
